In [6]:
import pandas as pd
titanic_data={'passange':[10,20,30,40,50,60,70,80,90],
              'name':['a','b','c','d','e','f','g','h','i'],
              'sex':['male','female','male','female','male','female','male','female','male'],
              'pclass':[3,1,3,1,3,1,3,1,3],
              'survived':[0,1,1,0,1,0,1,0,1],
              'fare':[1.1,2.2,3.3,4.4,5.5,6.6,7.7,8.8,9.9],
              'embarked':['c','s','c','s','c','s','c','c','s']}
df=pd.DataFrame(titanic_data)
print(df)

   passange name     sex  pclass  survived  fare embarked
0        10    a    male       3         0   1.1        c
1        20    b  female       1         1   2.2        s
2        30    c    male       3         1   3.3        c
3        40    d  female       1         0   4.4        s
4        50    e    male       3         1   5.5        c
5        60    f  female       1         0   6.6        s
6        70    g    male       3         1   7.7        c
7        80    h  female       1         0   8.8        c
8        90    i    male       3         1   9.9        s

In [7]:
print(df['sex'].unique())

['male' 'female']

In [8]:
df['sex']=df['sex'].map({'male':0,'female':1})
df['sex'].head()

0    0
1    1
2    0
3    1
4    0
Name: sex, dtype: int64

In [9]:
df_encoded=pd.get_dummies(df,columns=['embarked'],drop_first=True,dtype=int)
df_encoded.head()

   passange name  sex  pclass  survived  fare  embarked_s
0        10    a    0       3         0   1.1           0
1        20    b    1       1         1   2.2           1
2        30    c    0       3         1   3.3           0
3        40    d    1       1         0   4.4           1
4        50    e    0       3         1   5.5           0

In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data=pd.DataFrame({'profit':[200,500,1000,1500,3000]})
scaler=MinMaxScaler()
data['profit_normalized']=scaler.fit_transform(data[['profit']])
print(data)

   profit  profit_normalized
0     200           0.000000
1     500           0.107143
2    1000           0.285714
3    1500           0.464286
4    3000           1.000000

In [15]:
# log transformation - used to reduce skewness in data and handle large ranges
import numpy as np
data=pd.DataFrame({'sales':[10,50,200,1000,5000]})
data['sales_log']=np.log(data['sales'])
print(data)

   sales  sales_log
0     10   2.302585
1     50   3.912023
2    200   5.298317
3   1000   6.907755
4   5000   8.517193